<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-headphones">
                </span> {{'Support Center'|trans}}</a>
        </h4>
    </div>
    <div class="panel-body support-center">
        <div class="support-item text-center border-bottom">
            <p><a href="ymsgr:sendIM?the_gioi_bao_la">
                    <img src="http://opi.yahoo.com/online?u=the_gioi_bao_la&m=g&t=2" border="0" alt="" /> </a></p>
            <p class="info">
                <strong>Business Development Manager</strong><br>
                <strong>0919 86 36 95</strong>
            </p> 
        </div> 
        <div class="support-item text-center border-bottom">
            <p><a href="ymsgr:sendIM?trinhhung21">
                    <img src="http://opi.yahoo.com/online?u=trinhhung21&m=g&t=2" border="0" alt="" /> </a></p>
            <p class="info">
                <strong>Sales Executive</strong><br>
                <strong>(84-8) 3815 5870</strong>
            </p> 
        </div> 
        <div class="support-item text-center border-bottom">
            <p><a href="ymsgr:sendIM?trinhhung21">
                    <img src="http://opi.yahoo.com/online?u=trinhhung21&m=g&t=2" border="0" alt="" /> </a></p>
            <p class="info">
                <strong>Sales Executive</strong><br>
                <strong>0908 601 756</strong>
            </p>
        </div> 
    </div>

</div>

